@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: starjedi;
  src: url("../assets/Starjedi.woff");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes stretchC {
  0% {
    height: 0px;
  }
  99% {
    height: 5733px;
  }

  100% {
    height: fit-content;
  }
}

@keyframes stretchS {
  0% {
    height: 0px;
  }
  99% {
    height: 2550px;
  }

  100% {
    height: fit-content;
  }
}

.fadein {
  animation: fadeIn 1s ease-out;
}

.stretch-characters {
  animation: stretchC 10s ease-out;
}

.stretch-starships {
  animation: stretchS 5s ease-out;
}
